$placeholder: #d9d9d9
$font: "Gurmukhi MN",sans-serif

div

  li
    list-style-type: none
    margin-left: 470px
    padding: 0



  textarea
    @extend .inputText

  textarea::placeholder
    @extend .inputText::placeholder

  textarea:focus
    @extend .inputText:focus

.p
  font-family: $font
  font-size: 30px
  color: black
  font-variant: small-caps

.inputText
  padding: 8px 20px
  margin: 3px 2px
  display: inline-block
  border: 1px solid #ccc
  border-radius: 4px
.inputText::placeholder
  color: $placeholder
  font-size: small
  font-family: $font
.inputText:focus
  border: 1px solid #555
  outline: 0


.center

  text-align: center
  width: 34%
  margin: auto
  float: none


.addDesc
  color: orange
  margin-left: 200px
.addDesc:hover, .addDesc:active, .addDesc:visited, .addDesc:link
  @extend .addDesc
  text-decoration: none

.addTask
  color: gray
.addTask:hover, .addTask:active, .addTask:visited, .addTask:link
  @extend .addTask
  text-decoration: none

.btn-success
  background-color: gray
  color: white
  border-radius: 3px
  border: 0px
