
.textUpdate
  border: none
  border-radius: 0

.textUpdate:focus
  border: 1px solid #555
  outline: 0

.glyOk
  color: green
.glyOk:hover, .glyOk:active, .glyOk:visited, .glyOk:link
  @extend .glyOk
  text-decoration: none

.glyUnchecked
  color: gray
.glyUnchecked:hover, .glyUnchecked:active, .glyUnchecked:visited, .glyUnchecked:link
  @extend .glyUnchecked
  text-decoration: none

.glyDesc
  margin-left: 20px
  color: orange
.glyDesc:hover, .glyDesc:active, .glyDesc:visited, .glyDesc:link
  @extend .glyDesc
  text-decoration: none

.glyDelete
  color: red
  margin-left: 35px
.glyDelete:hover, .glyDelete:active, .glyDelete:visited, .glyDelete:link
  @extend .glyDelete
  text-decoration: none

.td
  padding-left: 20px


