
.glyDesc
  color: gray
  margin-left: 100px
.glyDesc:hover, .glyDesc:active, .glyDesc:visited, .glyDesc:link
  @extend .glyDesc
  text-decoration: none

.glyDelete
  color: red
  margin-left: 20px
.glyDelete:hover, .glyDelete:active, .glyDelete:visited, .glyDelete:link
  @extend .glyDelete
  text-decoration: none
